<div class="row">
  <div class="col-md-6 mx-auto">
    <h2 class="mb-4">Notifications</h2>
    <div class="list-group">
      <div class="list-group-item">
        <h6 class="mb-1">New follower</h6>
        <p class="mb-1">Someone started following you</p>
        <small>2 hours ago</small>
      </div>
      <div class="list-group-item">
        <h6 class="mb-1">Post liked</h6>
        <p class="mb-1">Your post received a new like</p>
        <small>5 hours ago</small>
      </div>
    </div>
  </div>
</div>